.catalog-action-buttons {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: 0;
  transition: all .5s ease-in-out;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .action_button {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    &__cart {
      position: relative;
      user-select: none;
      cursor: pointer;
      &__counter {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #62B4FF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}

.fixed {
  transform: translateY(60px);
}