.result {
  &-grid {
    padding: 0 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 57px;
  }
  .minimize_result {
    grid-template-columns: 435px;
    gap: 53px;
  }
}