@import './variables.scss';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

html,body {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  background: linear-gradient(180deg, #B4BCD2 -4.52%, #516A87 100%) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

button {
  outline: none;
  border: none;
  color: #fff;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
