@import './variables.scss';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 600px;
}

html,body {
  min-width: 600px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #B4BCD2 -4.52%, #516A87 100%) no-repeat;
  background-size: cover;
  z-index: 0;
}

button {
  outline: none;
  border: none;
  color: #fff;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
