@import "../../../styles/variables.scss";

.header {
  z-index: 20;
  flex: 0 0 auto;
  background: $header-color;
  backdrop-filter: blur(30px);
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.01);
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      margin-left: 18px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        &:hover {
          opacity: .8;
        }
        &:active {
          opacity: .9;
        }
      }
    }
    .active {
      transition: all .2s ease-in-out;
      pointer-events: none;
      transform: translateY(-2px);
      opacity: .8;
    }
  }
}