.quiz {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &-top-buttons {
    position: absolute;
    top: -15px;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-buttons {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 694px;
      margin-top: -80px;
    }
    &-button {
      background: rgba(0, 0, 0, 0.25);
      cursor: pointer;
      user-select: none;
      box-sizing: border-box;
      width: 267px;
      height: 165px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 7px 37px;
      color: #fff;
      font-weight: 500;
      font-size: 33px;
      transition: all .2s ease-in-out;
      opacity: 1;
      padding: 20px;
      &:hover {
        opacity: .8;
      }
      &:active {
        opacity: .9;
      }
    }
  }
  &-progress {
    &-wrapper {
      position: absolute;
      bottom: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      margin: -7px;
      .passed {
        background: #fff;
      }
    }
    &-circle {
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: default;
      background: rgba(0, 0, 0, 0.25);
      margin: 7px;
      transition: all .3s ease-in-out;
    }
  }
}